﻿
/* Accordion */

/*.accordion-order {
    background: #D53131;
    display: inline-block;
    width: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
    font-size: 1.4em;
}

.accordion-section {
    color: #FFFFFF;
}

.accordion-content {
    color: #1F1F1F;
    background: white;
}

.accordion-content,
.accordion-section {
    margin-bottom: 10px;
}

.ui-state-active {
    margin-bottom: 0;
}

.accordion-section-number {
    background: #66AF33;
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.4em;
    margin-right: 20px;
}*/

.accordion-section-title {
    color: #ffffff;
    font-size: 1.4em;
}
