﻿@model DataAccess.Models.Permiso

@{
    ViewBag.Title = "CreateMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    window.onload = function () {
        _menu.Menu.init();
    }

</script>
<h2>CreateMenu</h2>
@*<div id="accordion">
        <div class="container fatherFormat" id="container">
            <div class="accordion-section">
            </div>
            <div>
                <div class="accordion-content">
                    <div class="row" data-role="padre" data-id="0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Nombre">Nombre</label>
                                <input name="Nombre" type="text" class="Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="Url">Url</label>
                                <input name="Url" type="text" class="Url" required/>
                            </div>
                        </div>
                        <div class="">
                            <input type="button" class="img-circle add" id="add" value="CREAR HIJO" data-index="0"/>
                        </div>
                    </div>
                </div>

            </div>
            <br />
        </div>
    </div>*@

<div id="padre" style="display:block">

        <label>Crear Padre</label>
            <div class="row padre">
                <div class="" data-role="padre">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Nombre">Nombre Raíz</label>
                            <input name="Nombre" type="text" class="Name" required />
                        </div>
                        <div class="form-group">
                            <label for="Url">Url</label>
                            <input name="Url" type="text" class="Url" required />
                        </div>
                        <div class="">
                            <input type="button" class="add" id="addPadre" value="CREAR RAIZ" />
                        </div>
                    </div>
                </div>
            </div>
</div>
<br />
<br />
<div id="nodos" style="display:none">
    <ul id="myMenu" class="lista" style="">
        <li data-id="1" class="menuContent">
            <div class="row reference" id="divReferencia">
                <div class="" id="container">
                    <div>
                        <div class="row">
                            <div  data-role="padre">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Nombre">Nombre</label>
                                        <input name="Nombre" type="text" class="Name" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="Url">Url</label>
                                        <input name="Url" type="text" class="Url" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="img-circle addHijo" value="CREAR HIJO" data-index="0" />
                                        <input type="button" class="img-circle addHermano" value="CREAR HERMANO" data-index="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </li>
    </ul>
</div>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Permiso</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PermisoPadreId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PermisoPadreId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PermisoPadreId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UrlPermiso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UrlPermiso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UrlPermiso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
