﻿@model IEnumerable<DataAccess.Models.Permiso>

@{
    ViewBag.Title = "PermissionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PermissionList</h2>

<p>
    @Html.ActionLink("Create New", "CreateMenu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PermisoPadreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlPermiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PermisoPadreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlPermiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PermisoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PermisoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PermisoId })
        </td>
    </tr>
}

</table>
