﻿@*@model  IntraEquiposWeb.Models.RegisterBindingModel*@
@{
    ViewBag.title = "Register";
}
<h2>Login</h2>

@*<div class="form-group">
    <form action="@Html.Action("Register","Account")">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, "Nombre de usuario", new { })
            @Html.TextBoxFor(m => m.UserName, new { })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email", new { })
            @Html.TextBoxFor(m => m.Email, new { })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { })
        </div>
    </form>
</div>*@

